<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>499459179904-in3vog4f3pr7phm108lqdnst9ma5248l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.499459179904-in3vog4f3pr7phm108lqdnst9ma5248l</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>499459179904-0r3kjn40eej7vans3dg5pli52ribv6lb.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDTuVO8QmxFj1J2ZcXGRmOx3863FcLv_T0</string>
	<key>GCM_SENDER_ID</key>
	<string>499459179904</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.panyeroapp.online</string>
	<key>PROJECT_ID</key>
	<string>wallet-im2xad</string>
	<key>STORAGE_BUCKET</key>
	<string>wallet-im2xad.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:499459179904:ios:9be07a42f2e57857532d65</string>
	<key>DATABASE_URL</key>
	<string>https://wallet-im2xad-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>